 .mainHeader {
     background-color: transparent;
     width: 100vw;
     height: 65px;
     border-bottom: 1px solid black;
}

 .header-components {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 10px;
 }

 .logo {
    color: #000;
    font-size: 30px;
    display: flex;
    padding-top: 10px;
     margin-left: 20px;
 }

.links {
    width: 400px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    margin-right: 150px;

}

.user-items {
    width: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-right: 20px;
}

.bag {
    width: 30px;
    height: 30px;
    fill: #000
}

.user {
    width: 30px;
    height: 30px;
    fill: #000;
}
