@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Cinzel');

html {
    font-family: 'Old Standard TT', serif;
}

.hvr-underline-from-center:before {
    background: #aaaaaa;
}

.mainHeader {
    background-color: #d8d8d8;
    width: 100vw;
    height: 65px;
    box-shadow: 0 2px 8px 0 #888888;
    position: relative;
}

 .header-components {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 10px;
 }

 .logo {
    color: #000;
    font-size: 30px;
     font-family: 'Cinzel', serif;
    display: flex;
    padding-top: 10px;
     margin-left: 20px;
 }

.links {
    width: 400px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #000;
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
    text-decoration: none;
    margin-right: 150px;

}

.user-items {
    width: 80px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    margin-right: 20px;
}

.bag {
    width: 30px;
    height: 30px;
    fill: #000
}

.user {
    width: 30px;
    height: 30px;
    fill: #000;
}
